{% load adjax %}

<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Index</title>
  </head>

  <body>
    <!-- Include ADJAX scripts -->
    {% adjax_scripts %}

    <script>
        /*
         * Enable django CSRF
         */
        adjax.pipeline.push(function (xhr) {
            xhr.setRequestHeader('X-CSRFToken', adjax.cookies.get('csrftoken'));
        });

        /*
         * Example custom type
         */
        var CustomType = function (x, y) {
            this.x = x;
            this.y = y;
        };

        CustomType.prototype.getX = function () {
            return this.x;
        };

        CustomType.prototype.getY = function () {
            return this.y;
        };

        adjax.register('custom', CustomType, {
            encode: function (value) {
                return {
                    'x': value.getX(),
                    'y': value.getY(),
                }
            },

            decode: function (value) {
                return (new CustomType(value['x'], value['y']));
            }
        });
    </script>
  </body>
</html>
